.page-header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  @include CenteredFlex(spase-between)
}

/* НАВІГАЦІЯ САЙТУ */

.navigation {
  display: flex;
  margin-left: 93px;
}

.navigation__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__item--activ::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: $accent-color;
  border-radius: 2px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $title-tex-color;
  @include FontW(500,14px);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation__link--activ {
  color: $accent-color;
}

/* CONTACTS */
.auth-nav {
  @include CenteredFlex(spase-between);
  column-gap: 30px;
  margin-left: auto;
}

.auth-nav__link {
  column-gap: 10px;
  display: flex;
  align-items: center;
  color: $primary-tex-color;
  @include FontW(500,14px);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: currentColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.auth-nav__image {
  vertical-align: middle;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: currentColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
